global:
  imageK8S: "docker.mirror.hashicorp.services/hashicorpdev/consul-k8s-control-plane:latest"
  tls:
    enabled: true
server:
  replicas: 1
connectInject:
  enabled: true
  default: true
controller:
  enabled: true
apiGateway:
  enabled: true
  logLevel: info
  image: "hashicorppreview/consul-api-gateway:0.3.0-dev"
