apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/kubernetes/ingress-nginx/deploy/static/provider/kind
patchesJSON6902:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: ingress-nginx-controller
  patch: |-
    - op: add
      path: "/spec/template/spec/containers/0/args/-"
      value: "--enable-ssl-passthrough"
